POSTGRES_USER=studyflow
POSTGRES_PASSWORD=change-me
POSTGRES_DB=studyflow

KC_ADMIN=admin
KC_ADMIN_PASSWORD=change-me
KC_SERVER_URL=http://localhost:8080
KC_REALM=studyflow
KC_ADMIN_CLIENT_ID=studyflow-admin-cli
KC_ADMIN_CLIENT_SECRET=change-me

QUARKUS_HTTP_PORT=8081
QUARKUS_DATASOURCE_JDBC_URL=jdbc:postgresql://localhost:5432/studyflow
QUARKUS_DATASOURCE_USERNAME=studyflow
QUARKUS_DATASOURCE_PASSWORD=change-me
QUARKUS_OIDC_AUTH_SERVER_URL=http://localhost:8080/realms/studyflow
QUARKUS_OIDC_CLIENT_ID=studyflow-api
QUARKUS_OIDC_CLIENT_SECRET=change-me
